header {
  margin-top: 30px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  background-color: #906937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #970505;
  
}


/* Light Mode */
.light {
  background-color: #e1c698;
  color: black;
}

.light li {
  color: black;
}

.light article {
  border: 2px solid #970505;
}

/* Dark Mode */
.dark {
  background-color:#242d39;
  color: #ffffff
}

.dark li {
  color: #c8c3c3;
}

.dark article {
  border: 2px solid goldenrod
}


.btns {
  width: 70px;
  height: 30px;
}

footer {
  background-color: #906937;
  width: 100%;
  font-size: 20px;
}

